<header class="header-section">
    <div class="header-content">

        <div class="header-content-images">
            <div class="header-content-logo-main">
                <img src="../../../assets/img/img-main.png" alt="" class="header-logo">
            </div>
    
            <div class="header-content-icon-menu">
                <img src="../../../assets/icons/menu.svg" alt="" class="menu-icon" (click)="showOpt()">
            </div>
        </div>

        <div class="header-content-options" *ngIf="showOptions">
            <ul class="content-options">
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about-me">Sobre mi</a></li>
                <li><a href="#projects">Proyectos</a></li>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="page-content">

    <section class="home-section" id="#home">
        <app-home-section></app-home-section>
    </section>
    
    <section class="about-me-section" id="#about-me">
        <app-about-me-section></app-about-me-section>
    </section>
    
    <section class="projects-section" id="#projects">
        <app-projects-section></app-projects-section>
    </section>
    
    <section class="skills-section" id="#skills">
        <app-skills-section></app-skills-section>
    </section>
    
    <section class="contact-section" id="#contact">
        <app-contact-section></app-contact-section>
    </section>
    
</section>

