<div class="about-me-content">

    <h2>Sobre mí</h2>

    <div class="about-me-text-img">

        <div class="about-me-img">
            <img src="../../../assets/img/img-programming.svg" alt="">
        </div>

        <div class="about-me-paragrph">
            <p>
                Joven egresado con el anhelo de superarse, honesto, trabajador. Puedo desempeñarme bien y con empeño en el cargo que se me asigne. Busco poner en práctica los conocimientos que he adquirido, aprender temas nuevos y ser parte del proceso de desarrollo de soluciones implementando tecnología de la mano de profesionales y aprender de ellos. 
            </p>
        </div>

    </div>
</div>
