.home-content{
    // background-color: aqua;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.home-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.name{
    color: #0064C0;
    font-size: 30px;
    font-weight: bold;
}

.portfolio{
    color: #F8C033;
    font-size: 30px;
}

.content-button{
    background-color: #F8C033;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    transition: background-color .2s;
    
    &:hover{
        background-color: #e7b330;
    }
    
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #a0a0a0;
}