.skills-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & h3{
        color: #0064C0;
    }
}

.img-skills{
    width: 80px;
}

.img-sk-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.soft{
    background-color: #0064C0;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

