
html, *{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    color: #F8C033;
    font-size: 35px;
    text-align: center;
}